header{
	background-color:red;
	width:350px;
	height:200px;
	padding-top:30px;
	padding-left:20px;
}
h1{
	border-style:solid;
	border-color:yellow;
	width:300px;
}
header p{
	color:white;
	padding-left:70px;
	padding-top:30px;
}
nav{
	border-style:solid;
}
main{
	background-color:gray;
padding-left: 100px;
}
main p{
	background-color:white;
}
footer{
	border-color:blue;
	border-style:dashed;
	border-width:10px;
	padding-top:20px;
	padding-bottom:20px;
	
	


