h1{
	font-family: Papyrus;
	font-size: 40pt;
	color: red;
	border-bottom: 2px solid blue;
	

}

h2{
	font-size: 30pt;
	font-family: Copperplate;
	color: yellow;
	border: blue
	border-style: groove
	background-color: red
}

	
