header{
	background-color:#8B4513;
	border-style:groove;
	border:;
	width:400px;
	margin-left:550px;
	padding-left:30px;

}
footer{
	clear:both;
}
nav{ 
	width:200px;
	float:left;
	border-style:inset;
background:red;
	
}
*{ //outline:dotted;
}
main{
	margin-left:210px;
	border:solid;
	background:white;
}
img{
	height:300px;
	width:300px;
	margin-left:800px;
}
.normal{
	margin-left:0px;
}
article.one{
	border-style:solid;
}
article.two{
	border-style:solid;
}
article.three{
	border-style:solid;
}
article.four{
	border-style:solid;
}
article.five{
	border-style:solid;
}
body{
	background: url("images/background.jpg");
}
